@charset "utf-8";
@import url("./reset.css");

/* font */
@font-face {
  font-family: "NanumSquareRound";
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: local("NanumSquareRoundEB"), url("../fonts/NanumSquareRoundEB.woff") format("woff"), url("../fonts/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: local("NanumSquareRoundL"), url("../fonts/NanumSquareRoundL.woff") format("woff"), url("../fonts/NanumSquareRoundL.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

:root {
  --primary: #2c7ef6;
  --secondary: #00fcff;
  --white: #fff;
  --dark: #222;
  --gray: #666;
  --black: #000;
  --full: 100%;
  --half: 50%;
}

/* common */
.sr-only {
  overflow: hidden;
  position: absolute;
  margin: -1px 0 0 -1px;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0) !important;
}

.white {
  color: var(--white) !important;
}
.black {
  color: var(--black) !important;
}
.black {
  color: var(--dark) !important;
}
.gray {
  color: var(--gray) !important;
}
.primary {
  color: var(--primary) !important;
}
.secondary {
  color: var(--secondary) !important;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 900;
}
.md-block {
  display: none;
}
.sm-block {
  display: none;
}

@media (max-width: 991px) {
  .md-block {
    display: block;
  }
}
@media (max-width: 767px) {
  .sm-block {
    display: block;
  }
  .sm-hidden {
    display: none;
  }
}

/* layout */
#wrap {
  display: flex;
  flex-direction: column;
  width: var(--full);
  min-height: var(--full);
}

.inner {
  width: var(--full);
  max-width: 136rem;
  margin: 0 auto;
  padding: 0 4rem;
}

#header {
  position: absolute;
  top: 4rem;
  left: 7rem;
  right: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
  height: 8rem;
  padding: 0 4.2rem;
  border-radius: 4rem;
  background: var(--white);
  box-shadow: 1rem 1rem 4.5rem rgba(170, 170, 170, 0.3);
  z-index: 10;
}
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: headerTrans 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10rem);
}
#header .header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header.fixed .header-inner {
  max-width: 192rem;
  margin: 0 auto;
}
@keyframes headerTrans {
  0% {
    transform: translateY(-80rem);
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#header .header__logo a {
  display: block;
  width: 20.3rem;
  height: 4.1rem;
  background: url(../images/logo_h.png) no-repeat center center;
  background-size: var(--full);
}
#header .btn__menu-control {
  display: none;
}

#footer {
  flex: none;
  padding: 7.5rem 0;
  background: #f4f4f4;
}
#footer .inner {
  display: flex;
  gap: 8rem;
}
#footer .footer__logo {
  width: 20.3rem;
  height: 4.1rem;
  background: url(../images/logo_f.png) no-repeat center center;
  background-size: var(--full);
}
#footer .footer__util {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.8rem;
  font-size: 1.5rem;
  color: #666;
}
#footer .footer__util a:first-child {
  color: var(--dark);
}
#footer .footer__addr {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: #999;
}
#footer .footer__addr p {
  display: flex;
  gap: 1.8rem;
}
#footer .footer__addr span {
  display: inline-block;
  line-height: 1.5;
}
#footer .copyright {
  margin-top: 3rem;
  font-size: 1.3rem;
  color: #999;
  font-weight: 200;
}

#container {
  flex: 1 1 auto;
}

.gnb {
  display: flex;
  gap: 3rem;
}
.gnb a {
  display: block;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
}

.btn__top {
  position: fixed;
  bottom: 10rem;
  right: 50%;
  width: 6rem;
  height: 6rem;
  margin-right: -60rem;
  border-radius: var(--full);
  background: #a9a9a9 url(../images/icon_toTop.png) no-repeat center center/1.7rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.btn__top.is-show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1299px) {
  /* layout */
  #header {
    left: 4rem;
    right: 4rem;
    padding: 0 3rem;
  }
  #header .header__logo a {
    width: 18rem;
  }

  #footer {
    padding: 5rem 0;
  }
  #footer .footer__logo {
    width: 18rem;
  }
  #footer .footer__addr p {
    gap: 0 1.8rem;
    flex-wrap: wrap;
  }

  .gnb {
    gap: 2rem;
  }
  .gnb a {
    padding: 0 1.2rem;
  }

  .btn__top {
    bottom: 8rem;
    right: 50%;
    margin-right: calc(-50% + 4rem);
  }
}

@media (max-width: 991px) {
  /* layout */
  .inner {
    padding: 0 3rem;
  }

  #header {
    top: 2.3rem;
    left: 3rem;
    right: 3rem;
    height: 7rem;
    padding: 0 3rem;
    box-shadow: 0.5rem 0.5rem 2.2rem rgba(170, 170, 170, 0.3);
  }
  #header .header__logo {
    position: relative;
    z-index: 2;
  }
  #header .header__logo a {
    width: 14.5rem;
    height: 4rem;
  }
  #header .btn__menu-control {
    display: block;
    position: relative;
    width: 3rem;
    height: 2.4rem;
    z-index: 2;
  }
  #header .btn__menu-control:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3px;
    background: var(--black);
    transition: all 0.3s ease;
  }
  #header .btn__menu-control:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: 3px;
    background: var(--black);
    transition: all 0.3s ease;
  }
  #header .btn__menu-control .bar {
    position: absolute;
    left: 0;
    top: calc(50% - (3px / 2));
    width: 3rem;
    height: 3px;
    background: var(--black);
    transition: all 0.3s ease;
  }
  #header .btn__menu-control.is-open:before {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 3.2rem;
  }
  #header .btn__menu-control.is-open:after {
    transform: rotate(-45deg);
    transform-origin: left bottom;
    width: 3.2rem;
  }
  #header .btn__menu-control.is-open .bar {
    opacity: 0;
  }

  #footer {
    padding: 4rem 0;
  }
  #footer .inner {
    flex-direction: column;
    gap: 2.6rem;
  }
  #footer .footer__logo {
    width: 14.5rem;
    height: 4rem;
  }
  #footer .footer__util {
    margin-bottom: 1rem;
    gap: 2rem;
  }
  #footer .footer__addr {
    gap: 0;
  }
  #footer .footer__addr p {
    flex-direction: column;
    gap: 0;
  }
  #footer .copyright {
    margin-top: 1.5rem;
  }

  #nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 7rem;
    background: var(--white);
    border-radius: 4rem;
    overflow: hidden;
    transform: translateY(-2rem);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease;
    z-index: 1;
  }
  #nav.is-open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  .gnb {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 2.4rem 4rem;
    gap: 1.5rem;
  }
  .gnb a {
    font-size: 3rem;
  }

  .btn__top {
    bottom: 5rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    margin-right: 0;
    background-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  /* layout */
  .inner {
    padding: 0 2rem;
  }

  #header {
    top: 1.8rem;
    left: 2rem;
    right: 2rem;
    height: 4.6rem;
    padding: 0 2rem;
    border-radius: 2.3rem;
  }
  #header .header__logo a {
    width: 9.8rem;
    height: 2rem;
  }

  #header .btn__menu-control {
    width: 2.4rem;
    height: 2rem;
  }
  #header .btn__menu-control:before {
    width: 2.4rem;
    height: 2px;
  }
  #header .btn__menu-control:after {
    width: 2.4rem;
    height: 2px;
  }
  #header .btn__menu-control .bar {
    top: calc(50% - 1px);
    width: 2.4rem;
    height: 2px;
  }
  #header .btn__menu-control.is-open:before {
    width: 2.6rem;
  }
  #header .btn__menu-control.is-open:after {
    width: 2.6rem;
  }

  #footer {
    padding: 2.6rem 0;
  }
  #footer .inner {
    gap: 1.8rem;
  }
  #footer .footer__logo {
    width: 9.8rem;
    height: 2rem;
  }
  #footer .footer__util {
    gap: 1.4rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }
  #footer .footer__addr {
    font-size: 1.2rem;
  }
  #footer .copyright {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  #nav {
    padding-top: 4.6rem;
    border-radius: 2.3rem;
  }
  .gnb {
    padding: 1.6rem 1.6rem 2.6rem;
    gap: 1rem;
  }
  .gnb a {
    font-size: 2rem;
  }
  .btn__top {
    width: 4.5rem;
    height: 4.5rem;
  }
}

/**********************************************
main contents
**********************************************/

.section__main--visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24rem 0 42rem;
  background: #3177f7 url(../images/bg_main_visual.jpg) no-repeat center bottom;
}
.section__main--visual .msg-area {
  text-align: center;
}
.section__main--visual .m-text {
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--white);
  font-size: 5rem;
  line-height: 1.48;
}
.section__main--visual .m-text em {
  display: block;
  font-size: 6rem;
  font-weight: 700;
}
.section__main--visual .m-text strong {
  display: block;
  font-size: 7rem;
  font-weight: 900;
  color: #46ffd6;
}
.section__main--visual .s-text {
  color: var(--white);
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 1.48;
}
.section__main--visual small {
  display: block;
  font-size: 1.8rem;
  line-height: 1.48;
}
.section__main--visual .btn-go {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  margin-top: 3rem;
  padding: 0 3rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.6rem;
  background: #00cad7;
}

@media (max-width: 1299px) {
  .section__main--visual {
    padding: 18.4% 0 32.3%;
    background-size: auto var(--full);
  }
  .section__main--visual .m-text {
    margin-bottom: 1.9vw;
    font-size: 3.8vw;
  }
  .section__main--visual .m-text em {
    font-size: 4.6vw;
  }
  .section__main--visual .m-text strong {
    font-size: 5.38vw;
  }
  .section__main--visual .s-text {
    font-size: 2vw;
  }
  .section__main--visual small {
    display: block;
    font-size: 1.38vw;
  }
  .section__main--visual .btn-go {
    height: 4.6275vw;
    margin-top: 2.3vw;
    padding: 0 2.3vw;
    font-size: 1.56vw;
  }
}
@media (max-width: 767px) {
  .section__main--visual {
    padding: 24vw 0 48vw;
    background-image: url(../images/bg_main_visual_m.jpg);
    background-size: 118.51%;
  }
  .section__main--visual .m-text {
    margin-bottom: 4.16vw;
    font-size: 6.481vw;
  }
  .section__main--visual .m-text em {
    font-size: 8.33vw;
  }
  .section__main--visual .m-text strong {
    font-size: 10.185vw;
  }
  .section__main--visual .s-text {
    font-size: 3.703vw;
  }
  .section__main--visual small {
    font-size: 2.778vw;
  }
  .section__main--visual .btn-go {
    height: 7.2vw;
    margin-top: 4vw;
    padding: 0 4vw;
    font-size: 3.2vw;
  }
}

.section__main--benefit {
  padding: 22rem 0 9.5rem;
  background: var(--white);
}
.section__main--benefit .title {
  margin-bottom: 7.5rem;
  text-align: center;
  color: var(--dark);
}
.section__main--benefit .title em {
  display: block;
  font-size: 5.4rem;
  font-weight: 900;
}
.section__main--benefit .title small {
  display: block;
  font-weight: 900;
  font-size: 3rem;
}
.section__main--benefit .card-body {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 64rem;
}
.section__main--benefit .card {
  width: 34rem;
  height: 57.5rem;
  padding: 3rem 1rem;
  border-radius: 1.6rem;
}
.section__main--benefit .card .text {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--dark);
  line-height: 1.4;
}
.section__main--benefit .card .text:before {
  content: "";
  display: block;
  width: 5.7rem;
  height: 5.7rem;
  margin: 0 auto 2.5rem;
  background: no-repeat center center;
  background-size: cover;
}
.section__main--benefit .card:first-child {
  background: #fff9f9 url(../images/main_benefit_01.png) no-repeat center top 23rem / 26rem;
}
.section__main--benefit .card:nth-child(2) {
  align-self: flex-end;
  background: #f2f9ff url(../images/main_benefit_02.png) no-repeat center bottom 3.5rem / 21rem;
}
.section__main--benefit .card:nth-child(3) {
  background: #fefae8 url(../images/main_benefit_03.png) no-repeat center bottom 1.5rem / 30rem;
}
.section__main--benefit .card:first-child .text:before {
  background-image: url(../images/icon_check01.png);
}
.section__main--benefit .card:nth-child(2) .text:before {
  background-image: url(../images/icon_check02.png);
}
.section__main--benefit .card:nth-child(3) .text:before {
  background-image: url(../images/icon_check03.png);
}

@media (max-width: 1299px) {
  .section__main--benefit .card-body {
    gap: 1.5rem;
  }
  .section__main--benefit .card {
    flex: 1;
  }
  .section__main--benefit .card .text {
    font-size: 2.2rem;
  }
}
@media (max-width: 991px) {
  .section__main--benefit {
    padding: 9rem 0;
  }
  .section__main--benefit .title {
    margin-bottom: 6.5rem;
  }
  .section__main--benefit .title em {
    font-size: 4.5rem;
    line-height: 1.4;
  }
  .section__main--benefit .title small {
    font-size: 2rem;
    line-height: 1.4;
  }
  .section__main--benefit .card-body {
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
  }
  .section__main--benefit .card {
    display: flex;
    width: var(--full);
    height: auto;
    min-height: 24rem;
    padding: 2rem;
    border-radius: 1.2rem;
  }
  .section__main--benefit .card .text {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: left;
    font-size: 2.4rem;
    line-height: 1.3;
  }
  .section__main--benefit .card .text:before {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0;
  }
  .section__main--benefit .card:first-child {
    background-position: right 1rem top 1rem;
    background-size: 22rem;
  }
  .section__main--benefit .card:nth-child(2) {
    align-self: flex-start;
    background-position: right 4rem center;
    background-size: auto 20rem;
  }
  .section__main--benefit .card:nth-child(3) {
    background-position: right 0 top 1rem;
    background-size: auto 22rem;
  }
  .section__main--benefit .card:first-child .text:before {
    background-image: url(../images/icon_check01.png);
  }
  .section__main--benefit .card:nth-child(2) .text:before {
    background-image: url(../images/icon_check02.png);
  }
  .section__main--benefit .card:nth-child(3) .text:before {
    background-image: url(../images/icon_check03.png);
  }
}
@media (max-width: 767px) {
  .section__main--benefit {
    padding: 6rem 0;
  }
  .section__main--benefit .title {
    margin-bottom: 4.3rem;
  }
  .section__main--benefit .title em {
    font-size: 3.5rem;
  }
  .section__main--benefit .title small {
    font-size: 1.7rem;
  }
  .section__main--benefit .card-body {
    gap: 1.8rem;
  }
  .section__main--benefit .card {
    min-height: 22rem;
    padding: 1.2rem;
  }
  .section__main--benefit .card .text {
    word-break: keep-all;
    padding-right: 14rem;
    gap: 0.8rem;
    font-size: 2rem;
  }
  .section__main--benefit .card .text:before {
    flex: none;
    width: 2.3rem;
    height: 2.3rem;
  }
  .section__main--benefit .card:first-child {
    background-position: right 0.5rem top 0.5rem;
    background-size: 15rem;
  }
  .section__main--benefit .card:nth-child(2) {
    background-position: right 2rem center;
    background-size: auto 17rem;
  }
  .section__main--benefit .card:nth-child(3) {
    background-position: right 0 center;
    background-size: auto 18rem;
  }
  .section__main--benefit .card:first-child .text:before {
    background-image: url(../images/icon_check01.png);
  }
  .section__main--benefit .card:nth-child(2) .text:before {
    background-image: url(../images/icon_check02.png);
  }
  .section__main--benefit .card:nth-child(3) .text:before {
    background-image: url(../images/icon_check03.png);
  }
}

.section__main--recommand {
  padding: 21rem 0 14.6rem;
  background: var(--primary) url(../images/bg_main_recommand.png) no-repeat center top;
  background-attachment: fixed;
}
.section__main--recommand .title {
  margin-bottom: 9rem;
  font-size: 5.4rem;
  font-weight: 900;
  color: var(--white);
  text-align: center;
}
.section__main--recommand .sticky-card {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.section__main--recommand .sticky-card .card {
  position: sticky;
  bottom: 9rem;
  width: var(--full);
  padding-bottom: 46.17%;
  /* height: 59.1rem; */
  background-size: var(--full);
  background-repeat: no-repeat;
  background-size: cover;
}
.section__main--recommand .sticky-card .card .card-body {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--full);
  height: var(--full);
  padding-top: 12rem;
  padding-left: 6rem;
}
.section__main--recommand .sticky-card .card:first-child {
  background-image: url(../images/bg_main_recommand01.png);
  z-index: 3;
}
.section__main--recommand .sticky-card .card:nth-child(2) {
  background-image: url(../images/bg_main_recommand02.png);
  z-index: 2;
}
.section__main--recommand .sticky-card .card:nth-child(3) {
  background-image: url(../images/bg_main_recommand03.png);
  z-index: 1;
}
.section__main--recommand .sticky-card .tit {
  display: block;
  margin-bottom: 2rem;
  font-size: 4.2rem;
  font-weight: 900;
  color: var(--dark);
}
.section__main--recommand .sticky-card .card li {
  position: relative;
  padding-left: 1.2rem;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #666;
}
.section__main--recommand .sticky-card .card li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.8rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: var(--full);
  background: #666;
}
.section__main--recommand .sticky-card .card li.leading-5 {
  line-height: 5rem;
}
.section__main--recommand .sticky-card .card li.leading-5:before {
  top: 2.3rem;
}
.section__main--recommand .sticky-card .card li em {
  font-size: 2.6rem;
  font-weight: 700;
}
.section__main--recommand .sticky-card .card p {
  font-size: 2.8rem;
  line-height: 4rem;
}
.section__main--recommand .sticky-card .underline {
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
}
.section__main--recommand .sticky-card .height {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  background: var(--primary);
}

@media (max-width: 1299px) {
  .section__main--recommand {
    padding: 18rem 0 12rem;
    background-size: 160%;
  }
  .section__main--recommand .title {
    margin-bottom: 7rem;
  }
  .section__main--recommand .sticky-card {
    gap: 5vw;
  }
  .section__main--recommand .sticky-card .card {
    bottom: 7rem;
    width: var(--full);
  }
  .section__main--recommand .sticky-card .card .card-body {
    padding-top: 8.5vw;
    padding-left: 4vw;
  }
  .section__main--recommand .sticky-card .tit {
    margin-bottom: 1vw;
    font-size: 3.2815vw;
  }
  .section__main--recommand .sticky-card .card li {
    padding-left: 1.2rem;
    font-size: 1.72vw;
    line-height: 3.125vw;
  }
  .section__main--recommand .sticky-card .card li:before {
    top: calc(1.46vw - 0.2rem);
    width: 0.3rem;
    height: 0.3rem;
  }
  .section__main--recommand .sticky-card .card li.leading-5 {
    line-height: 3.8rem;
  }
  .section__main--recommand .sticky-card .card li.leading-5:before {
    top: calc(1.9rem - 0.2rem);
  }
  .section__main--recommand .sticky-card .card li em {
    font-size: 2.03rem;
  }
  .section__main--recommand .sticky-card .card p {
    font-size: 2.1875vw;
    line-height: 3.125vw;
  }
}
@media (max-width: 991px) {
  .section__main--recommand {
    padding: 8.8rem 0 9rem;
    background-size: 120%;
  }
  .section__main--recommand .title {
    margin-bottom: 9rem;
    font-size: 4.5rem;
  }
  .section__main--recommand .sticky-card {
    gap: 3rem;
  }
  .section__main--recommand .sticky-card .card {
    bottom: 5rem;
    padding-bottom: 70%;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  .section__main--recommand .sticky-card .card .card-body {
    padding-top: 3.2rem;
    padding-left: 4.5rem;
  }
  .section__main--recommand .sticky-card .card:first-child {
    background: var(--white) url(../images/bg_main_recommand01_m.jpg) no-repeat center bottom / var(--full);
  }
  .section__main--recommand .sticky-card .card:nth-child(2) {
    background: #57ff64 url(../images/bg_main_recommand02_m.jpg) no-repeat center bottom / var(--full);
  }
  .section__main--recommand .sticky-card .card:nth-child(3) {
    background: #4e56f5 url(../images/bg_main_recommand03_m.jpg) no-repeat center bottom / var(--full);
  }
  .section__main--recommand .sticky-card .tit {
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
  }
  .section__main--recommand .sticky-card .tit:before {
    content: "";
    display: block;
    margin: 0 0 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background: no-repeat center top/var(--full);
  }
  .section__main--recommand .sticky-card .card:first-child .tit:before,
  .section__main--recommand .sticky-card .card:nth-child(3) .tit:before {
    background-image: url(../images/icon_main_recommand_ttitle_b.png);
  }
  .section__main--recommand .sticky-card .card:nth-child(2) .tit:before {
    background-image: url(../images/icon_main_recommand_title_g.png);
  }

  .section__main--recommand .sticky-card .card li {
    padding-left: 1rem;
    font-size: 1.7rem;
    line-height: 1.6;
  }
  .section__main--recommand .sticky-card .card li:before {
    top: 1.3rem;
    width: 2px;
    height: 2px;
  }
  .section__main--recommand .sticky-card .card li.leading-5 {
    line-height: 1.6;
  }
  .section__main--recommand .sticky-card .card li.leading-5:before {
    top: 1.3rem;
  }
  .section__main--recommand .sticky-card .card li em {
    font-size: 2rem;
  }
  .section__main--recommand .sticky-card .card p {
    font-size: 1.7rem;
    line-height: 1.6;
  }
  .section__main--recommand .sticky-card .underline {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
  }
  .section__main--recommand .sticky-card .height {
    display: inline-block;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
    background: var(--primary);
  }
}
@media (max-width: 767px) {
  .section__main--recommand {
    padding: 16vw 0;
    background-size: 160%;
    background-repeat: repeat-y;
  }
  .section__main--recommand .title {
    margin-bottom: 11vw;
    font-size: 8.3vw;
  }
  .section__main--recommand .sticky-card {
    gap: 4.5vw;
  }
  .section__main--recommand .sticky-card .card {
    padding-bottom: 91.6%;
  }
  .section__main--recommand .sticky-card .card .card-body {
    padding-top: 5.9vw;
    padding-left: 8.3vw;
  }
  .section__main--recommand .sticky-card .tit {
    margin-bottom: 2vw;
    font-size: 4.4vw;
  }
  .section__main--recommand .sticky-card .tit:before {
    margin: 0 0 1.8vw;
    width: 6.4vw;
    height: 6.4vw;
  }
  .section__main--recommand .sticky-card .card li {
    font-size: 3.14vw;
  }
  .section__main--recommand .sticky-card .card li:before {
    top: calc(2.2vw - 1px);
  }
  .section__main--recommand .sticky-card .card li.leading-5:before {
    top: calc(2.2vw - 1px);
  }
  .section__main--recommand .sticky-card .card li em {
    font-size: 3.7vw;
  }
  .section__main--recommand .sticky-card .card p {
    font-size: 3.14vw;
  }
}

.section__main--service {
  padding: 20rem 0 6rem;
  background-image: url(../images/bg_main_service.jpg), url(../images/bg_main_service_h.jpg);
  background-repeat: no-repeat, repeat-x;
  background-position: center top, left top;
}
.section__main--service .inner {
  display: flex;
  justify-content: space-between;
}
.section__main--service .img-box {
  flex: none;
}
.section__main--service .con-box {
  align-self: center;
}
.section__main--service .con-box .title {
  margin-bottom: 8rem;
  font-size: 5.4rem;
  line-height: 1.4;
}
.section__main--service .con-box .title em {
  display: block;
  font-weight: 900;
}
.section__main--service .con-box .text {
  font-size: 3rem;
  line-height: 1.3;
}
.section__main--service .con-box .text mark {
  display: inline-block;
  position: relative;
  background: none;
}
.section__main--service .con-box .text mark span {
  position: relative;
  z-index: 2;
}
.section__main--service .con-box .text mark:before {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: -0.1rem;
  right: -0.1rem;
  height: 0.7rem;
  background: #4fbbea;
}

@media (max-width: 1299px) {
  .section__main--service {
    padding: 10% 0 6%;
    background-size: 120%, auto var(--full);
  }
  .section__main--service .img-box {
    width: 46%;
  }
  .section__main--service .img-box img {
    width: var(--full);
  }
  .section__main--service .con-box .title {
    margin-bottom: 6rem;
    font-size: 4.8rem;
  }
  .section__main--service .con-box .text {
    font-size: 2.6rem;
  }
  .section__main--service .con-box .text mark {
    display: inline-block;
    position: relative;
    background: none;
  }
  .section__main--service .con-box .text mark span {
    position: relative;
    z-index: 2;
  }
  .section__main--service .con-box .text mark:before {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: -0.1rem;
    right: -0.1rem;
    height: 0.7rem;
    background: #4fbbea;
  }
}
@media (max-width: 991px) {
  .section__main--service {
    padding: 10.5rem 0 5.5rem;
    background-image: url(../images/bg_main_service_m.jpg), url(../images/bg_main_service_h.jpg);
    background-repeat: no-repeat, repeat-x;
    background-position: center top, left top;
    background-size: 676px, auto var(--full);
  }
  .section__main--service .inner {
    flex-direction: column;
    max-width: 76rem;
    gap: 5rem;
    margin: 0 auto;
  }
  .section__main--service .con-box {
    align-self: flex-start;
  }
  .section__main--service .con-box .title {
    margin-bottom: 2rem;
    font-size: 4.5rem;
    line-height: 1.3;
  }
  .section__main--service .con-box .text {
    font-size: 2rem;
  }
  .section__main--service .con-box .text mark:before {
    bottom: 0.2rem;
    height: 0.4rem;
  }
  .section__main--service .img-box {
    width: 90%;
    max-width: 82rem;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .section__main--service {
    padding: 7rem 0 3.6rem;
    background-size: 120%, auto var(--full);
  }
  .section__main--service .inner {
    gap: 3rem;
  }
  .section__main--service .con-box .title {
    margin-bottom: 1.3rem;
    font-size: 3rem;
  }
  .section__main--service .con-box .text {
    font-size: 1.5rem;
  }
}

/**********************************************
about contents
**********************************************/

.section__about--visual {
  padding: 20rem 0 7rem;
  background-color: #e6f5ff;
  background-image: url(../images/bg_about_visual01.png), url(../images/bg_about_visual02.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
}
.section__about--visual .msg-area {
  text-align: center;
  font-weight: 700;
  font-size: 7rem;
}
.section__about--visual .msg-area strong {
  display: inline-block;
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -2px;
}
.section__about--visual .msg-area em {
  display: inline-flex;
  gap: 1.2rem;
  align-items: center;
  vertical-align: -3rem;
}
.section__about--visual .msg-area mark {
  padding: 1rem 1.2rem 0;
  line-height: 1;
  font-size: 10rem;
  font-weight: 900;
  color: var(--white);
  background: #00c6d8;
  border-radius: 1.2rem;
  letter-spacing: -2px;
}
.section__about--visual .msg-area em:before {
  content: "";
  display: block;
  width: 9.6rem;
  aspect-ratio: 1/1.523;
  background: url(../images/img_ponitto.png) no-repeat center center / var(--full);
}

@media (max-width: 1299px) {
  .section__about--visual {
    padding: 18rem 0 5rem;
    background-size: auto var(--full);
  }
  .section__about--visual .msg-area {
    font-size: 6rem;
  }
  .section__about--visual .msg-area strong {
    font-size: 9rem;
  }
  .section__about--visual .msg-area mark {
    padding: 0.6rem 0.8rem 0;
    font-size: 9rem;
  }
  .section__about--visual .msg-area em:before {
    width: 8rem;
  }
}
@media (max-width: 991px) {
  .section__about--visual {
    padding: 16.5rem 0 8.5rem;
    background-size: auto var(--full);
  }
  .section__about--visual .msg-area {
    font-size: 5rem;
  }
  .section__about--visual .msg-area strong {
    font-size: 6.5rem;
  }
  .section__about--visual .msg-area em {
    gap: 0.8rem;
  }
  .section__about--visual .msg-area mark {
    padding: 0.6rem 0.8rem 0;
    font-size: 6.5rem;
  }
  .section__about--visual .msg-area em:before {
    width: 7rem;
  }
}
@media (max-width: 767px) {
  .section__about--visual {
    padding: 11rem 0 6.5rem;
    background-image: url(../images/bg_about_visual_m.png);
    background-size: cover;
    background-position: center top;
  }
  .section__about--visual .msg-area {
    font-size: 3.8rem;
  }
  .section__about--visual .msg-area strong {
    font-size: 4.7rem;
  }
  .section__about--visual .msg-area mark {
    font-size: 4.7rem;
  }
  .section__about--visual .msg-area em:before {
    width: 5rem;
  }
}

.section__about--info {
  padding: 9.5rem 0 12rem;
  text-align: center;
  background: #f3f7f7;
}
.section__about--info .title {
  margin-bottom: 6rem;
  font-size: 6rem;
  font-weight: 900;
}
.section__about--info .desc {
  margin-bottom: 10rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.3;
}
.section__about--info .cont:before {
  content: "";
  display: block;
  width: 100%;
  max-width: 128rem;
  margin-bottom: 13rem;
  padding-bottom: 27%;
  background: url(../images/img_about_info.png) no-repeat center top / 100%;
}
.section__about--info .cont-tit {
  display: block;
  margin-bottom: 3rem;
  font-size: 3.4rem;
  font-weight: 700;
}
.section__about--info .cont-tit:not(:first-child):before {
  content: "";
  display: block;
  width: 1px;
  height: 6rem;
  margin: 3rem auto;
  background: var(--primary);
}
.section__about--info .cont-body {
  margin: 0 auto;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: var(--gray);
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 1299px) {
  .section__about--info .title {
    margin-bottom: 5rem;
  }
  .section__about--info .desc {
    margin-bottom: 8.5rem;
  }
  .section__about--info .cont:before {
    margin-bottom: 12rem;
  }
  .section__about--info .cont-tit {
    margin-bottom: 2.6rem;
  }
  .section__about--info .cont-tit:not(:first-child):before {
    height: 5.5rem;
    margin: 2.5rem auto;
  }
  .section__about--info .cont-body {
    font-size: 2rem;
  }
}
@media (max-width: 991px) {
  .section__about--info {
    padding: 8.5rem 0 11rem;
  }
  .section__about--info .title {
    margin-bottom: 3.5rem;
    font-size: 4.5rem;
  }
  .section__about--info .desc {
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }
  .section__about--info .cont:before {
    max-width: 60rem;
    margin: 0 auto 4.5rem;
    padding-bottom: 97%;
    background-image: url(../images/img_about_info_m.png);
  }
  .section__about--info .cont-tit {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
    word-break: keep-all;
  }
  .section__about--info .cont-tit:not(:first-child):before {
    height: 3rem;
    margin: 1.5rem auto;
  }
  .section__about--info .cont-body {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .section__about--info {
    padding: 6rem 0 8.5rem;
  }
  .section__about--info .title {
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  .section__about--info .desc {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .section__about--info .cont:before {
    margin-bottom: 3.5rem;
  }
  .section__about--info .cont-tit {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .section__about--info .cont-tit:not(:first-child):before {
    height: 2.5rem;
    margin: 1.2rem auto;
  }
  .section__about--info .cont-body {
    max-width: 46rem;
    font-size: 1.6rem;
  }
}

.section__about--dream {
  position: relative;
  margin-top: -3.5rem;
  padding: 6rem 0 10rem;
  text-align: center;
  background: #0072ff no-repeat;
  background-image: url(../images/bg_cloud_l.png), url(../images/bg_cloud_r.png);
  background-position: left top, right top;
}
.section__about--dream:before,
.section__about--dream:after {
  content: "";
  position: absolute;
  top: -3.5rem;
  width: 50%;
  height: 3.5rem;
  background: #0072ff;
}
.section__about--dream:before {
  left: 0;
  border-radius: 0 3.5rem 0 0;
}
.section__about--dream:after {
  right: 0;
  border-radius: 3.5rem 0 0 0;
}
.section__about--dream .title {
  margin-bottom: 12rem;
  font-size: 6rem;
  font-weight: 900;
  color: var(--white);
}
.section__about--dream .title:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 94.7rem;
  margin: 8.5rem auto 0;
  aspect-ratio: 9.47/3.07;
  background: url(../images/img_ponitto_character.png) no-repeat center top/100%;
}
.section__about--dream .cont-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
}
.section__about--dream .text {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}
.section__about--dream .s-title {
  font-size: 3.4rem;
  color: var(--secondary);
  font-weight: 700;
  line-height: 1.5;
}

.section__about--dream .title:after {
  animation: charMoving 1.4s ease infinite forwards;
}
@keyframes charMoving {
  0% {
    transform: translateY(0.7rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.7rem);
  }
}

@media (max-width: 1299px) {
  .section__about--dream {
    padding: 5rem 0 9rem;
    background-size: 50% auto, 50% auto;
    background-position: left 12vw, right 12vw;
  }
  .section__about--dream .title {
    margin-bottom: 10rem;
    font-size: 5.5rem;
  }
  .section__about--dream .title:after {
    margin: 8rem auto 0;
  }
  .section__about--dream .cont-body {
    gap: 4rem;
  }
}
@media (max-width: 991px) {
  .section__about--dream {
    margin-top: -2.5rem;
    padding: 5.5rem 0 8rem;
    background-image: url(../images/bg_cloud.png);
    background-position: center top;
    background-size: 100%;
  }
  .section__about--dream:before,
  .section__about--dream:after {
    top: -2.5rem;
    height: 2.5rem;
  }
  .section__about--dream:before {
    border-radius: 0 2.5rem 0 0;
  }
  .section__about--dream:after {
    border-radius: 2.5rem 0 0 0;
  }
  .section__about--dream .title {
    margin-bottom: 8rem;
    font-size: 4.5rem;
  }
  .section__about--dream .title:after {
    margin: 6rem auto 0;
  }
  .section__about--dream .cont-body {
    gap: 2.5rem;
  }
  .section__about--dream .text {
    word-break: keep-all;
    font-size: 1.8rem;
  }
  .section__about--dream .s-title {
    word-break: keep-all;
    font-size: 2.4rem;
  }
}
@media (max-width: 767px) {
  .section__about--dream {
    margin-top: -2rem;
    padding: 4rem 0 6rem;
  }
  .section__about--dream:before,
  .section__about--dream:after {
    top: -2rem;
    height: 2rem;
  }
  .section__about--dream:before {
    border-radius: 0 2rem 0 0;
  }
  .section__about--dream:after {
    border-radius: 2rem 0 0 0;
  }
  .section__about--dream .title {
    margin-bottom: 5rem;
    font-size: 3.6rem;
  }
  .section__about--dream .title:after {
    margin: 4rem auto 0;
  }
  .section__about--dream .cont-body {
    gap: 1.8rem;
  }
  .section__about--dream .text {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
  .section__about--dream .s-title {
    font-size: 2rem;
  }
}

.section__about--join {
  padding: 10rem 0;
  text-align: center;
  background: #fff;
}
.section__about--join .title {
  margin-bottom: 5.5rem;
  font-size: 6rem;
  font-weight: 900;
}
.section__about--join .desc {
  margin-bottom: 10rem;
  font-size: 3.4rem;
  font-weight: 700;
}
.section__about--join .cont-body .s-title {
  margin-bottom: 3rem;
  font-size: 3.4rem;
  font-weight: 700;
}
.section__about--join .cont-body .s-title:after {
  content: "";
  display: block;
  width: 1px;
  height: 6rem;
  margin: 3rem auto;
  background: var(--primary);
}
.section__about--join .cont-body .prog {
  display: flex;
  justify-content: space-between;
}
.section__about--join .cont-body .prog li {
  position: relative;
  width: 27.5rem;
  padding-bottom: 27.5rem;
  border-radius: 100%;
  background: #def2ff;
}
.section__about--join .cont-body .prog .box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 0 2rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.45;
}
.section__about--join .cont-body .prog .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 9rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.45;
}
.section__about--join .cont-body .prog li small {
  font-weight: 400;
  color: var(--gray);
}
.section__about--join .cont-body .prog .icon {
  width: 100%;
  padding-bottom: 36%;
  background: no-repeat center center/auto 100%;
}
.section__about--join .cont-body .prog .icon-01 {
  background-image: url(../images/icon_about_join01.png);
}
.section__about--join .cont-body .prog .icon-02 {
  background-image: url(../images/icon_about_join02.png);
}
.section__about--join .cont-body .prog .icon-03 {
  background-image: url(../images/icon_about_join03.png);
}
.section__about--join .cont-body .prog .icon-04 {
  background-image: url(../images/icon_about_join04.png);
}

@media (max-width: 1299px) {
  .section__about--join .title {
    margin-bottom: 9.5rem;
    margin-bottom: 5rem;
    font-size: 5.5rem;
  }
  .section__about--join .desc {
    margin-bottom: 7rem;
    font-size: 3rem;
  }
  .section__about--join .cont-body .s-title {
    font-size: 3rem;
  }
  .section__about--join .cont-body .s-title:after {
    height: 5.5rem;
    margin: 2.5rem auto;
  }
  .section__about--join .cont-body .prog li {
    width: 24%;
    padding-bottom: 24%;
  }
  .section__about--join .cont-body .prog .box-inner {
    padding: 2rem 0 1.5rem;
    font-size: 2.2rem;
    line-height: 1.35;
  }
  .section__about--join .cont-body .prog .text {
    height: 8rem;
    font-size: 2.2rem;
    line-height: 1.35;
  }
  .section__about--join .cont-body .prog .icon {
    width: 100%;
    padding-bottom: 30%;
  }
}

@media (max-width: 991px) {
  .section__about--join {
    padding: 9rem 0;
  }
  .section__about--join .title {
    margin-bottom: 4rem;
    font-size: 4.5rem;
  }
  .section__about--join .desc {
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }
  .section__about--join .cont-body .s-title {
    margin-bottom: 4.5rem;
    font-size: 2.4rem;
  }
  .section__about--join .cont-body .s-title:after {
    height: 3rem;
    margin: 1.5rem auto;
  }
  .section__about--join .cont-body .prog {
    max-width: 60rem;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .section__about--join .cont-body .prog li {
    width: calc(50% - 2rem);
    padding-bottom: calc(50% - 2rem);
  }
  .section__about--join .cont-body .prog .box-inner {
    font-size: 1.8rem;
  }
  .section__about--join .cont-body .prog .text {
    height: 7rem;
    font-size: 1.8rem;
  }
  .section__about--join .cont-body .prog .icon {
    width: 100%;
    padding-bottom: 36%;
    background: no-repeat center center/auto 100%;
  }
  .section__about--join .cont-body .prog .icon-01 {
    background-image: url(../images/icon_about_join01.png);
  }
  .section__about--join .cont-body .prog .icon-02 {
    background-image: url(../images/icon_about_join02.png);
  }
  .section__about--join .cont-body .prog .icon-03 {
    background-image: url(../images/icon_about_join03.png);
  }
  .section__about--join .cont-body .prog .icon-04 {
    background-image: url(../images/icon_about_join04.png);
  }
}

@media (max-width: 767px) {
  .section__about--join {
    padding: 6rem 0;
  }
  .section__about--join .title {
    margin-bottom: 3.5rem;
    font-size: 3rem;
  }
  .section__about--join .desc {
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  .section__about--join .cont-body .s-title {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .section__about--join .cont-body .s-title:after {
    height: 2.5rem;
    margin: 1.2rem auto;
  }
  .section__about--join .cont-body .prog {
    gap: 2rem;
  }
  .section__about--join .cont-body .prog li {
    width: calc(50% - 1rem);
    padding-bottom: calc(50% - 1rem);
  }
  .section__about--join .cont-body .prog .box-inner {
    padding: 1.5rem 0;
    font-size: 1.6rem;
  }
  .section__about--join .cont-body .prog .text {
    height: 6rem;
    font-size: 1.6rem;
  }
  .section__about--join .cont-body .prog .text small {
    margin-top: 0.4rem;
    line-height: 1.4;
  }
}

/**********************************************
corporation contents - 기업전용 shop으로 이동
**********************************************/

.section__corp--visual {
  padding: 20rem 0 15rem;
  background: #0072ff url(../images/bg_corpaoration.jpg) no-repeat center bottom / auto 100%;
}
.section__corp--visual .msg-area {
  width: 100%;
  max-width: 56rem;
  padding-left: 4rem;
  color: #fff;
}
.section__corp--visual .msg-area .text {
  font-size: 8rem;
  font-weight: 900;
  word-break: keep-all;
}
.section__corp--visual .msg-area .text small {
  display: block;
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3;
  word-break: keep-all;
}
.section__corp--visual .msg-area .btn-rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 0 0 1rem;
  padding: 1.6rem 3rem 1.2rem;
  line-height: 1.1;
  font-size: 2.4rem;
  border-radius: 3rem;
  background: var(--black);
}

@media (max-width: 1299px) {
  .section__corp--visual {
    padding: 16rem 0 12rem;
  }

  .section__corp--visual .msg-area {
    max-width: 52rem;
    padding-left: 2rem;
  }
  .section__corp--visual .msg-area .text {
    font-size: 7.5rem;
  }
  .section__corp--visual .msg-area .text small {
    margin-top: 3.6rem;
    font-size: 2.8rem;
  }
  .section__corp--visual .msg-area .btn-rounded {
    margin: 6.5rem 0 0 0.6rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 991px) {
  .section__corp--visual {
    padding: 22rem 0 23.5rem;
  }
  .section__corp--visual .msg-area .text {
    font-size: 5.5rem;
  }
  .section__corp--visual .msg-area .text small {
    margin-top: 3.8rem;
    font-size: 3.5rem;
  }
  .section__corp--visual .msg-area .btn-rounded {
    margin: 3rem 0 0 0;
    padding: 1.2rem 2rem 0.8rem;
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .section__corp--visual {
    padding: 33.3vw 0 44.4vw;
    background-image: url(../images/bg_corpaoration_m.jpg);
    background-size: 100%;
  }
  .section__corp--visual .msg-area {
    max-width: 40rem;
    padding-left: 0;
  }
  .section__corp--visual .msg-area .text {
    font-size: 4rem;
  }
  .section__corp--visual .msg-area .text small {
    margin-top: 2.6rem;
    font-size: 2.5rem;
  }
  .section__corp--visual .msg-area .btn-rounded {
    margin: 2rem 0 0 0;
    padding: 1rem 1.6rem 0.6rem;
    font-size: 1.8rem;
  }
}

.section__corp--service {
  padding: 10rem 0 9rem;
  background: #fcfcfc;
}
.section__corp--service .title {
  margin-bottom: 12rem;
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}
.section__corp--service .cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.section__corp--service .cont-body {
  flex: none;
  padding-bottom: 7.5rem;
}
.section__corp--service .cont:before {
  content: "";
  display: block;
  width: 54.5rem;
  aspect-ratio: 5.45/5.65;
  background: url(../images/img_corp.png) no-repeat center top/100%;
}
.section__corp--service .cont .cont-tit {
  display: block;
  margin-bottom: 4rem;
  font-size: 5rem;
  font-weight: 900;
}
.section__corp--service .cont .cont-tit:before {
  content: "";
  display: block;
  width: 18.8rem;
  height: 7.2rem;
  margin: 0 0 4.5rem;
  background: url(../images/bi_sktelecom.png) no-repeat center top;
}
.section__corp--service .dl-box {
  position: relative;
}
.section__corp--service .dl-box dt {
  position: absolute;
  top: 0.3rem;
  padding: 0.4rem 1.2rem 0;
  font-size: 2.2rem;
  line-height: 1.1;
  border-radius: 0.6rem;
  background: #eaeaea;
}
.section__corp--service .dl-box dd {
  font-size: 2.2rem;
  line-height: 1.8;
  text-indent: 8rem;
}
.section__corp--service .ul-box li {
  display: flex;
  gap: 0.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--gray);
}
.section__corp--service .ul-box li:before {
  content: "-";
  display: inline-block;
  line-height: 1.8;
}

@media (max-width: 1299px) {
  .section__corp--service {
    padding: 9rem 0 8rem;
  }
  .section__corp--service .title {
    margin-bottom: 10rem;
    font-size: 5.5rem;
  }
  .section__corp--service .cont {
    gap: 2rem;
  }
  .section__corp--service .cont-body {
    flex: 1;
    padding-bottom: 2rem;
  }
  .section__corp--service .cont:before {
    width: 45%;
  }
  .section__corp--service .cont .cont-tit {
    margin-bottom: 3.5rem;
    font-size: 4.5rem;
  }
  .section__corp--service .cont .cont-tit:before {
    margin: 0 0 4rem;
  }
  .section__corp--service .dl-box dt {
    top: 0.2rem;
    padding: 0.6rem 1.2rem 0.2rem;
    font-size: 1.8rem;
  }
  .section__corp--service .dl-box dd {
    font-size: 1.8rem;
    text-indent: 6rem;
  }
  .section__corp--service .ul-box li {
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .section__corp--service {
    padding: 8.5rem 0 8rem;
  }
  .section__corp--service .title {
    margin-bottom: 4rem;
    font-size: 4.5rem;
  }
  .section__corp--service .cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4.5rem;
  }
  .section__corp--service .cont-body {
    flex: none;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .section__corp--service .cont:before {
    width: 70%;
    max-width: 55rem;
    margin: 0 auto;
  }
  .section__corp--service .cont .cont-tit {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .section__corp--service .cont .cont-tit:before {
    width: 13rem;
    height: 5rem;
    margin: 0 0 1.5rem;
    background-size: 100%;
  }
  .section__corp--service .dl-box {
    margin-bottom: 1.5rem;
  }
  .section__corp--service .dl-box dt {
    top: 0;
    padding: 0.3rem 0.8rem 0;
    font-size: 2rem;
    border-radius: 0.4rem;
  }
  .section__corp--service .dl-box dd {
    font-size: 2rem;
    line-height: 1.5;
    text-indent: 6rem;
    word-break: keep-all;
  }
  .section__corp--service .ul-box li {
    font-size: 1.8rem;
    line-height: 1.5;
    word-break: keep-all;
  }
  .section__corp--service .ul-box li:before {
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .section__corp--service {
    padding: 6rem 0 5.5rem;
  }
  .section__corp--service .title {
    margin-bottom: 3rem;
    font-size: 3rem;
    word-break: keep-all;
  }
  .section__corp--service .cont {
    gap: 3rem;
  }
  .section__corp--service .dl-box {
    margin-bottom: 1rem;
  }
  .section__corp--service .cont .cont-tit {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    word-break: keep-all;
  }
  .section__corp--service .cont .cont-tit:before {
    width: 10rem;
    height: 4rem;
    margin: 0 0 1rem;
  }
  .section__corp--service .dl-box dt {
    padding: 0.3rem 0.6rem 0.1rem;
    font-size: 1.8rem;
    border-radius: 0.3rem;
  }
  .section__corp--service .dl-box dd {
    font-size: 1.8rem;
    text-indent: 4.5rem;
  }
  .section__corp--service .ul-box li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
.section__corp--progress {
  padding: 19rem 0 22.5rem;
  background-color: #f3f8f9;
  text-align: center;
}
.section__corp--progress .title {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: 900;
}
.section__corp--progress .desc {
  margin-bottom: 7.5rem;
  font-size: 2.2rem;
}
.section__corp--progress .progress {
  display: flex;
  border: 1px solid #dfdfdf;
  border-left: 0;
  counter-reset: step;
}
.section__corp--progress .progress li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 0 2.5rem;
  border-left: 1px solid #dfdfdf;
  background: #fff;
}
.section__corp--progress .progress li:before {
  counter-increment: step;
  content: "STEP " counter(step);
  display: inline-block;
  margin: -1.2rem 0 auto;
  align-self: center;
  padding: 0.6rem 2rem 0.3rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1.5rem;
  background: #0072ff;
}
.section__corp--progress .progress li .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 auto;
  height: 9rem;
  padding: 0 2rem;
}
.section__corp--progress .progress li .icon {
  display: block;
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  padding-bottom: 44.5%;
  background: no-repeat center center/auto 100%;
}
.section__corp--progress .progress li .icon--01 {
  background-image: url(../images/img_corp_prog01.png);
}
.section__corp--progress .progress li .icon--02 {
  background-image: url(../images/img_corp_prog02.png);
}
.section__corp--progress .progress li .icon--03 {
  background-image: url(../images/img_corp_prog03.png);
}
.section__corp--progress .progress li .icon--04 {
  background-image: url(../images/img_corp_prog04.png);
}
.section__corp--progress .progress li strong {
  font-size: 2.2rem;
  font-weight: 700;
  word-break: keep-all;
}
.section__corp--progress .progress li span {
  font-size: 1.8rem;
  word-break: keep-all;
  color: var(--gray);
}

@media (max-width: 1299px) {
  .section__corp--progress {
    padding: 16rem 0 20rem;
  }
  .section__corp--progress .title {
    margin-bottom: 1.8rem;
    font-size: 5.6rem;
  }
  .section__corp--progress .desc {
    margin-bottom: 7rem;
  }
  .section__corp--progress .progress li .icon {
    margin-top: 3rem;
  }
}
@media (max-width: 991px) {
  .section__corp--progress {
    padding: 8rem 0 11rem;
  }
  .section__corp--progress .title {
    margin-bottom: 2rem;
    font-size: 4.5rem;
  }
  .section__corp--progress .desc {
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  .section__corp--progress .progress {
    flex-wrap: wrap;
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
    border-top: 0;
  }
  .section__corp--progress .progress li {
    width: 50%;
    flex: 1 1 auto;
    border-top: 1px solid #dfdfdf;
  }
  .section__corp--progress .progress li:before {
    margin: -1rem 0 auto;
    padding: 0.4rem 0.8rem 0.1rem;
    font-size: 1.4rem;
  }
  .section__corp--progress .progress li .text {
    gap: 0.8rem;
    height: 6rem;
  }
  .section__corp--progress .progress li .icon {
    margin-top: 2.5rem;
  }
  .section__corp--progress .progress li strong {
    font-size: 2rem;
  }
  .section__corp--progress .progress li span {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .section__corp--progress {
    padding: 6rem 0 8rem;
  }
  .section__corp--progress .title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .section__corp--progress .desc {
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }
  .section__corp--progress .progress li {
    padding-bottom: 2rem;
  }
  .section__corp--progress .progress li:before {
    font-size: 1.3rem;
  }
  .section__corp--progress .progress li .text {
    padding: 0 1rem;
    gap: 0.4rem;
  }
  .section__corp--progress .progress li .icon {
    margin-top: 1.8rem;
  }
  .section__corp--progress .progress li strong {
    font-size: 1.8rem;
  }
  .section__corp--progress .progress li span {
    font-size: 1.6rem;
  }
}

/* 애니메이션 관련 */
.animation-type1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 1s;
}
.animation-type2 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 1s;
}
.animation-type3 {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 1.2s;
}
.animation-type4 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 0.7s;
}
.animation-type5 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(7rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 1s;
}
.animation-type6 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 1s;
}
.hasAnimation .animation-type1,
.hasAnimation .animation-type2,
.hasAnimation .animation-type4,
.hasAnimation .animation-type5 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.hasAnimation .animation-type6 {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.hasAnimation .animation-type3 {
  opacity: 1;
  visibility: visible;
}
.animation-delay-5s {
  transition-delay: 0.5s;
}
.animation-delay-8s {
  transition-delay: 0.8s;
}
.animation-delay-10s {
  transition-delay: 1s;
}
.animation-delay-12s {
  transition-delay: 1.2s;
}
.animation-delay-16s {
  transition-delay: 1.6s;
}
